*.gem
*.rbc
.bundle
.config
.yardoc
.idea/
.ruby-version
assets/.DS_Store
.DS_Store
Gemfile*lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
/tmp/
temp_results
.byebug_history
.env
log/
test/unique_files
test/rails7_dummy/tmp
CLAUDE.md
.claude/