<div class="source_table" id="<%= id source_file %>" data-loader-url="<%= base_path %>load_file_details?filename=<%= source_file.filename %>">
  <div class='loader'>
    loading...
    <br/>
    <img src="<%= assets_path('loading.gif') %>" alt="loading"/>
  </div>
</div>
